/* ___________________CORPO____________________*/
body, span, p, h1, h2, h3, h4, h5, h6, a{
    margin: 0;
    border: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

.container{
    width: 80%;
    margin: auto;
}

/*____________________HEADER________________________*/
.header_total{
    width: 100%;
    line-height: 1;
    color: white;
    font-size: 2.0rem;
    background-color: black;
}
.header{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.header_op{
    padding: 15px 0;
    cursor: pointer;
    text-align: center;
}


/*____________________FOOTER________________________*/
.footer{
    width: 100%;
    z-index: 999;
    color: white;
    padding: 10px 0;
    font-size: 1.0rem;
    text-align: center;
    position: absolute;
    left: 0 !important;
    bottom: 0 !important;
    background-color: black;
    position: fixed !important;
}