/*
preto - rgba(0,0,0,1)
verde - rgba(35,219,81,1)
#1A1AEB azul
background: linear-gradient(18deg, rgba(0,0,0,1) 44%, rgba(35,219,81,1) 100%);
*/

/* ___________________CORPO____________________*/
body, span, p, h1, h2, h3, h4, h5, h6, a{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background: linear-gradient(8deg, rgba(53,97,98,1) 44%, rgba(102,212,129,1) 100%);
}
a{
    text-decoration: none;
    color: white;
}

.container{
    width: 80%;
    margin: auto;
}

/*____________________HEADER________________________*/
.header_total{
    width: 100%;
    line-height: 1;
    color: white;
    font-size: 2.0rem;
    background-color: black;
}
.header{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.header_op{
    padding: 15px 0;
    cursor: pointer;
    text-align: center;
}
.header_op:hover{
    background: radial-gradient(circle, rgba(35,219,81,1) 0%, rgba(0,0,0,1) 100%);
}


/*____________________FOOTER________________________*/
.footer{
    width: 100%;
    z-index: 999;
    color: white;
    padding: 10px 0;
    font-size: 1.0rem;
    text-align: center;
    position: absolute;
    left: 0 !important;
    bottom: 0 !important;
    background-color: black;
    position: fixed !important;
}
.footer:hover{
    background: radial-gradient(circle, rgba(35,219,81,1) 0%, rgba(0,0,0,1) 100%);
}

/*__________SQL respostas _________________*/
.sql_erro{
    width: 400px;
    margin: auto;
    color: red;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    border-radius: 14px;
    border: solid 1px red;
    background-color: rgb(233 202 202);
}
.sql_sucesso{
    width: 400px;
    margin: auto;
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    border-radius: 14px;
    color: rgb(9 118 15);
    border: solid 1px rgb(8 167 21);
    background-color: rgb(135, 228, 174);
}
/* ________________________EXTRAS________________________ */

.borda{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 50px;
    background-color: white;
    color: black;
}
.subTitle_form{
    background-color: black;
    color: white;
}
.title_form{
    font-weight: 700;
    font-size: 1.4rem;
    color: white;
}

.d-none{
    display: none;
}
.vh-100{
    height: 100vh;
}
.w-100{
    width: 100%;
}
.m-auto{
    margin: auto;
}
.t-center{
    text-align: center;
}
.excluir{
    color: red !important;
    border: 1px solid red !important;
    background-color: rgb(212, 153, 153) !important;
}
.excluir:hover{
    transition: all .3s;
    color: black !important;
    background-color: red !important;
}
.m-t50{
    margin-top: 50px;
}
.m-b20{
    margin-bottom: 20px;
}
.min-height-100{
    min-height: 100vh;
}