.turma{
    font-weight: 700;
    font-size: 1.3rem;
    padding: 20px 0 10px 0;
}
.input{
    width: 500px;
    margin-bottom: 10px;
}
.btn{
    width: 200px;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 700;
    border-radius: 14px;
    background-color: black;
}

/* __________________ATIVIDADE AVALIATIVA___________________ */